---
import { Image } from 'astro:assets';
import CardContent from '../card-3d/CardContent.astro';

interface Props {
    imageLayers: ImageMetadata[];
    title: string;
    width?: number;
    height?: number;
    animate?: boolean;
    class?: string;
}

const { imageLayers, title, width, height, animate, class: className } = Astro.props;
---

<div class:list={["overlay-container", animate ? "animate" : undefined, className]}>
    {imageLayers.map((img, index) => (
        <CardContent translateZ={(imageLayers.length * -5) + (index + 1) * 10}>
            <Image
                src={img}
                alt={title}
                width={width}
                height={height}
                transition:name={`recipe-image-${title}-${index}`}
                class={`recipe-image-layer-${index}`}
            />
        </CardContent>
    ))}
</div>

<style lang="scss">
    .overlay-container {
        display: grid;
        grid-template-areas: "overlay";
        transform-style: preserve-3d;

        :global(> *) {
            grid-area: overlay;
            min-width: 0;
        }
    }

    img {
        box-sizing: border-box;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
        transition: transform .2s;
    }

    .animate {
        img {
            animation: MoveUpDown 5s ease infinite;
        }
        
        .recipe-image-layer-0 {
            --move-distance: 10px;
            animation-delay: 0s;
        }
        
        .recipe-image-layer-1 {
            --move-distance: 8px;
            animation-delay: -0.4s;
        }
        
        .recipe-image-layer-2 {
            --move-distance: 7px;
            animation-delay: -0.8s;
        }
        
        .recipe-image-layer-3 {
            --move-distance: 6px;
            animation-delay: -1.2s;
        }

        @keyframes MoveUpDown {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(var(--move-distance));
            }
        }
    }
</style>
