---
import { Image } from 'astro:assets';
import CardContent from '../card-3d/CardContent.astro';

interface Props {
    imageLayers: ImageMetadata[];
    title: string;
    width?: number;
    height?: number;
    class?: string;
}

const { imageLayers, title, width, height, class: className } = Astro.props;
---

<div
    class:list={["overlay-container", className]}
    transition:name={`recipe-image-${title}`}
>
    {imageLayers.map((img, index) => (
        <CardContent translateZ={(imageLayers.length * -5) + (index + 1) * 10}>
            <Image
                src={img}
                alt={title}
                width={width}
                height={height}
            />
        </CardContent>
    ))}
</div>

<style lang="scss">
    .overlay-container {
        display: grid;
        grid-template-areas: "overlay";
        transform-style: preserve-3d;

        :global(> *) {
            grid-area: overlay;
            min-width: 0;
        }
    }

    img {
        box-sizing: border-box;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
        transition: transform .2s;
    }
</style>
