---
import { getImage, Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { Icon } from "astro-icon/components";
import Card3D from '../card-3d/Card3D.astro';
import CardContent from '../card-3d/CardContent.astro';
import NewCardBackground from './NewCardBackground.astro';
import NewRecipeCardContent from './NewRecipeCardContent.astro';
import coleslawBowlBgImage from '../../content/recipes/coleslaw-1.png';
import coleslawInImage from '../../content/recipes/coleslaw-2.png';
import coleslawBowlFgImage from '../../content/recipes/coleslaw-3.png';

type Recipe = CollectionEntry<'recipes'>;

interface Props {
  recipe: Recipe;
}

const { recipe } = Astro.props;
const optimizedImage = await getImage({src: recipe.data.image});
const baseUrl = import.meta.env.BASE_URL;
---

<Card3D>
    <a class="card-layout" href=`${baseUrl}/recipes/${recipe.slug}`>
        <NewCardBackground/>
        <CardContent translateZ={10}>
            <Image
                src={coleslawBowlBgImage}
                alt={recipe.data.title}
                transition:name=`recipe-image-${recipe.data.title}`
            />
        </CardContent>
        <CardContent translateZ={20} translateY={-1}>
            <Image
                src={coleslawInImage}
                alt={recipe.data.title}
                transition:name=`recipe-image-${recipe.data.title}`
            />
        </CardContent>
        <CardContent translateZ={30}>
            <Image
                src={coleslawBowlFgImage}
                alt={recipe.data.title}
                transition:name=`recipe-image-${recipe.data.title}`
            />
        </CardContent>
        <CardContent class="card-bottom" translateZ={45}>
            <NewRecipeCardContent/>
        </CardContent>
    </a>
</Card3D>

<style lang="scss">

    .card-layout {
        display: grid;
        grid-template-areas: "overlay";
        transform-style: preserve-3d;
        width: 340px;
        aspect-ratio: 57 / 89;

        :global(> *) {
            grid-area: overlay;
        }

        .card-bottom {
            align-self: flex-end;
        }
    }

    img {
        box-sizing: border-box;
        padding: 3rem;
        max-width: 100%;
        object-fit: contain;
        object-position: top;
    }

    a {
        all: unset;
        cursor: pointer;
        position: relative;

        &:hover,
        &:focus-visible {
            img {
                transform: scale(1.015);
            }
        }
    }
</style>