---
import { getImage, Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { Icon } from "astro-icon/components";
import Card3D from '../card-3d/Card3D.astro';
import CardContent from '../card-3d/CardContent.astro';
import NewCardBackground from './NewCardBackground.astro';
import NewRecipeCardContent from './NewRecipeCardContent.astro';
import coleslawBowlBgImage from '../../content/recipes/coleslaw-1.png';
import coleslawInImage from '../../content/recipes/coleslaw-2.png';
import coleslawBowlFgImage from '../../content/recipes/coleslaw-3.png';

type Recipe = CollectionEntry<'recipes'>;

interface Props {
  recipe: Recipe;
}

const { recipe } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---

<Card3D>
    <a class="card-layout" href=`${baseUrl}/recipes/${recipe.slug}`>
        <NewCardBackground/>
        {recipe.data.imageLayers?.map((img, index) => (
            <CardContent translateZ={(index + 1) * 10}>
                <Image
                    src={img}
                    alt={recipe.data.title}
                    height={400}
                    transition:name={`recipe-image-${recipe.data.title}`}
                />
            </CardContent>
        ))}
        <CardContent class="card-bottom" translateZ={45}>
            <NewRecipeCardContent recipe={recipe}/>
        </CardContent>
    </a>
</Card3D>

<style lang="scss">

    .card-layout {
        display: grid;
        grid-template-areas: "overlay";
        transform-style: preserve-3d;
        width: 340px;
        aspect-ratio: 57 / 89;

        :global(> *) {
            grid-area: overlay;
            min-width: 0;
        }

        .card-bottom {
            align-self: flex-end;
        }
    }

    img {
        box-sizing: border-box;
        padding: 3rem;
        width: 100%;
        max-width: 100%;
        object-fit: contain;
        object-position: bottom;
    }

    a {
        all: unset;
        cursor: pointer;
        position: relative;

        &:hover,
        &:focus-visible {
            img {
                transform: scale(1.015);
            }
        }
    }
</style>