---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { mapIngredient } from '../utils/ingredients';

type Recipe = CollectionEntry<'recipes'>;

interface Props {
  ingredient: Recipe["data"]["ingredients"][0];
  size: "small" | "large";
  direction: "horizontal" | "vertical";
}

const { ingredient, size, direction } = Astro.props;
const { img: imgFileName, name, background } = mapIngredient(ingredient.key);

const ingredientImages = import.meta.glob<{ default: ImageMetadata }>("/src/images/ingredients/*");
const imageFile = ingredientImages[`/src/images/ingredients/${imgFileName}`];
---

<div class:list={["card", `card--${size}`, `card--${direction}`]}>
    <Image
        src={imageFile()}
        alt={name}
        width={size === 'large' ? 100 : 60}
        height={size === 'large' ? 70 : 40}
    />
    <p>
        {name}
        <br/>
        <span class="amount">{ingredient.amount}</span>
    </p>
</div>

<style lang="scss" define:vars={{
    "ingredient-color": background,
}}>
    .card {
        display: flex;
        align-items: center;
        gap: .5rem 1rem;
        border-radius: 1rem;
        padding: .5rem 1rem .75rem 1rem;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: -30% -50%;
            background: radial-gradient(
                ellipse at 50% 50%,
                hsl(var(--ingredient-color), 92%),
                transparent 70%
            );
        }

        &.card--large {
            padding: .5rem 1rem .75rem 1rem;
        }
        &.card--horizontal {
            flex-direction: column;
        }
    }
    
    img {
        object-fit: contain;
        object-position: center 75%;
        mix-blend-mode: multiply;
        z-index: 1;
    }

    p {
        margin: 0;
        line-height: 1;
        z-index: 1;
    }

    .amount {
        color: rgb(var(--text-light));
    }
</style>