---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { mapIngredientFile } from '../utils/ingredients';

type Recipe = CollectionEntry<'recipes'>;

interface Props {
  ingredient: Recipe["data"]["ingredients"][0];
  size: "small" | "large";
}

const { ingredient, size } = Astro.props;

const ingredientImages = await Astro.glob("/src/images/ingredients/*").then(files => {
    return files.map(file => file.default);
});
const imageFileName = mapIngredientFile(ingredient.name);
const imageFile = ingredientImages.find(file => file.src.includes(`/${imageFileName}?`));
---

<div class:list={["card", size]}>
    <Image
        src={imageFile}
        alt={ingredient.name}
        width={size === 'large' ? 100 : 60}
        height={size === 'large' ? 70 : 40}
    />
    <p>
        {ingredient.name}
        <br/>
        <span class="amount">{ingredient.amount}</span>
    </p>
</div>

<style lang="scss">
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        background: hsl(51, 80%, 94%);
        border-radius: 1rem;
        padding: .5rem 1rem .75rem 1rem;

        &.large {
            padding: .5rem 1rem .75rem 1rem;
        }
    }
    
        img {
            object-fit: contain;
            object-position: center 75%;
            mix-blend-mode: multiply;
        }

    p {
        margin: 0;
        line-height: 1;
    }

    .amount {
        opacity: .5;
    }
</style>