---
import type { CollectionEntry } from 'astro:content';
import IngredientCard from './IngredientCard.astro';

type Recipe = CollectionEntry<'recipes'>;

interface Props {
  recipe: Recipe;
  direction: "horizontal" | "vertical";
}

const { recipe, direction } = Astro.props;
---

<h3>Komponenten</h3>
<div class:list={["ingredient-grid", `ingredient-grid--${direction}`]}>
    {recipe.data.ingredients
        .filter(ingredient => ingredient.hasOwnProperty("amount"))
        .map(ingredient => (
            <IngredientCard {ingredient} {direction} size="large"/>
        )
    )}
</div>
<h3>Gewürze</h3>
<div class:list={["ingredient-grid", `ingredient-grid--${direction}`]}>
    {recipe.data.ingredients
        .filter(ingredient => !ingredient.hasOwnProperty("amount"))
        .map(ingredient => (
            <IngredientCard {ingredient} {direction} size="small"/>
        )
    )}
</div>

<style lang="scss">
    img {
        width: calc(100% + 1rem);
        height: auto;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: .8rem;
        margin: -0.5rem;
    }

    p {
        margin: 0;
        color: #808080;
    }

    .ingredient-grid {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;

        &.ingredient-grid--vertical {
            flex-direction: column;
        }

        &:not(:first-child) {
            margin-top: 1.5rem;
        }
    }
</style>