---
import { Image } from 'astro:assets';
import { render } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import NewCardBackground from './recipe-card/NewCardBackground.astro';
import LayeredRecipeImage from './recipe-card/LayeredRecipeImage.astro';
import { Icon } from 'astro-icon/components';
import IngredientList from './IngredientList.astro';
import IngredientTagStyles from './IngredientTagStyles.astro';

type Recipe = CollectionEntry<'recipes'>;

interface Props {
  recipe: Recipe;
}

const { recipe } = Astro.props;
const { Content } = await render(recipe);
---

<article class="recipe">
    <div class="head-background">
        <NewCardBackground
            startColor={recipe.data.background?.startColor}
            endColor={recipe.data.background?.endColor}
        />
    </div>
    <section class="image-container">
        {recipe.data.imageLayers && (
            <LayeredRecipeImage class="image" imageLayers={recipe.data.imageLayers} title={recipe.data.title}/>
        )}
    </section>
    <section class="overview">
        <h1>
            <span>{recipe.data.title}</span>
            <span class="small">{recipe.data.subtitle}</span>
        </h1>
        <hr/>
        <div class="attributes">
            <div class="total-time">
                <Icon name="solar:clock-circle-outline" size={24} />
                {recipe.data.totalTime}
            </div>
        </div>
        <p>{recipe.data.tagline}</p>
    </section>
    <section class="ingredients">
        <h2>Zutaten</h2>
        <hr/>
        <IngredientList recipe={recipe}/>
    </section>
    <section class="instructions">
        <h2>Zubereitung</h2>
        <hr/>
        <Content/>
        <IngredientTagStyles/>
    </section>
    <section class="images">
        <h2>Fotos</h2>
        <hr/>
        <div class="image-grid">
            <Image
                src={recipe.data.image}
                alt={recipe.data.title}
                width={600}/>
            </div>
    </section>
</div>

<style lang="scss">
    .recipe {
        display: grid;
        grid-template-areas:
            "image overview"
            "ingredients instructions"
            "images images"
        ;
        gap: 3rem;

        @media (max-width: $md) {
            grid-template-areas:
                "overview"
                "image"
                "ingredients"
                "instructions"
                "images"
            ;
            margin-bottom: 1rem;
        }

        .head-background {
            grid-column: 1 / span 2;
            grid-row: 1;

            @media (max-width: $md) {
                grid-column: 1;
                grid-row: 1 / span 2;
            }
        }

        .image-container {
            grid-area: image;
        }
    
        .overview {
            grid-area: overview;
        }

        .images {
            grid-area: images;
        }

        .ingredients {
            grid-area: ingredients;
        }

        .instructions {
            grid-area: instructions;
        }
    }

    h1 {
        text-align: left;
        margin-top: .5em;
        margin-bottom: .2em;
    }

    h2 {
        margin-top: 0;
    }

    hr {
        opacity: .5;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .head-background {
        z-index: -1;
        scale: 1.25 1;
        transform-origin: center bottom;
    }

    .image-container {
        width: 300px;
        min-height: 300px;
        overflow-y: clip;
        position: relative;

        .image {
            position: absolute;
            width: 450px;
            bottom: -10%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .overview {
        @media (min-width: $md) {
            padding: 2rem 0;
        }
    }

    .attributes {
        display: flex;
        flex-direction: row;
        font-weight: bold;
    }

    .image-grid {
        display: flex;

        img {
            height: 250px;
            width: auto;
            max-width: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

    .total-time {
        display: flex;
        gap: .5rem;
        align-items: center;
    }

    .instructions {
        :global(ol) {
            list-style: none;
        }

        :global(li) {
            text-indent: -3ch;
            margin-bottom: .5rem;
        }

        :global(pointed-cabbage) {
            color: red;
        }
    }
</style>