---
import { render } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import NewCardBackground from './recipe-card/NewCardBackground.astro';
import LayeredRecipeImage from './recipe-card/LayeredRecipeImage.astro';
import { Icon } from 'astro-icon/components';
import IngredientList from './IngredientList.astro';

type Recipe = CollectionEntry<'recipes'>;

interface Props {
  recipe: Recipe;
}

const { recipe } = Astro.props;
const { Content } = await render(recipe);
---

<article class="recipe">
    <div class="head-background">
        <NewCardBackground
            startColor={recipe.data.background?.startColor}
            endColor={recipe.data.background?.endColor}
        />
    </div>
    <section class="image-container">
        <LayeredRecipeImage class="image" recipe={recipe}/>
    </section>
    <section class="overview">
        <h1>
            <span>{recipe.data.title}</span>
            <span class="small">{recipe.data.subtitle}</span>
        </h1>
        <hr/>
        <div class="attributes">
            <div class="total-time">
                <Icon name="solar:clock-circle-outline" size={24} />
                {recipe.data.totalTime}
            </div>
        </div>
        <p>{recipe.data.tagline}</p>
    </section>
    <section class="ingredients">
        <h2>Zutaten</h2>
        <hr/>
        <IngredientList recipe={recipe}/>
    </section>
    <section class="instructions">
        <h2>Zubereitung</h2>
        <hr/>
        <Content/>
    </section>
</div>

<style lang="scss">
    .recipe {
        display: grid;
        grid-template-areas:
            "image overview"
            "ingredients instructions";
        gap: 3rem;

        @media (max-width: $md) {
            grid-template-columns: 1fr;
            margin-bottom: 1rem;
        }

        .head-background {
            grid-column: 1 / span 2;
            grid-row: 1;
            z-index: -1;
            scale: 1.25 1;
            transform-origin: center bottom;
        }

        .image-container {
            grid-area: image;
            width: 300px;
            overflow-y: clip;
            position: relative;

            .image {
                position: absolute;
                width: 450px;
                bottom: -10%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    
        .overview {
            grid-area: overview;
            padding: 2rem 0;
            position: relative;
        }

        .ingredients {
            grid-area: ingredients;
        }

        .instructions {
            grid-area: instructions;
        }
    }

    h1 {
        text-align: left;
        margin-top: .5em;
        margin-bottom: .2em;
    }

    hr {
        opacity: .5;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .attributes {
        display: flex;
        flex-direction: row;
        font-weight: bold;
    }

    .total-time {
        display: flex;
        gap: .5rem;
        align-items: center;
    }
</style>