---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { Icon } from "astro-icon/components";

type Recipe = CollectionEntry<'recipes'>;

interface Props {
  recipe: Recipe;
  isActive: boolean | null;
}

const { recipe, isActive } = Astro.props;

const HeaderElement = isActive ? 'div' : 'a';
---

<div class:list={["card", isActive ? "card--active" : isActive === false ? "card--inactive" : ""]}>
    <HeaderElement class="header" href=`/preview/${recipe.slug}`>
        <Image class="image-blur" src={recipe.data.image} alt={recipe.data.title}/>
        <Image src={recipe.data.image} alt={recipe.data.title} transition:name="recipe-image"/>
        <div class="total-time overlay">
            <Icon name="solar:clock-circle-outline" size={18} />
            {recipe.data.totalTime}
        </div>        
        {isActive &&
            <a class="overlay" href={`/recipes/${recipe.slug}`} title="Details">
                <Icon name="solar:chef-hat-outline" size={24} />
            </a>
        }
    </HeaderElement>
    <div class="content">
        <h3>{recipe.data.title}</h3>
        <p>{recipe.data.subtitle}</p>
    </div>
</div>

<style lang="scss">
    .card {
        border-radius: 1rem;

        &.card--inactive {
            // opacity: .5;
        }
        &.card--active {
            opacity: 1;
            background: white;

            img {
                // transform: scale(0.95);
                transform-origin: center bottom;
            }
        }
    }

    a {
        all: unset;
        cursor: pointer;
        position: relative;

        &:hover,
        &:focus-visible {
            img {
                transform: scale(1.015);
            }
        }
    }

    .header {
        display: grid;
        grid-template-areas: "overlay";

        & > * {
            grid-area: overlay;
        }

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            border-radius: 1rem;
            transition: transform .2s ease;

            &.image-blur {
                z-index: -1;
                filter: blur(10px);
                scale: .95;
                translate: 0 15px;
                opacity: .5;
                pointer-events: none;
            }
        }

        .overlay {
            margin: 1rem;
            background: rgba(var(--page-background), .8);
            border-radius: .5rem;
            padding: 0 .5em;
            backdrop-filter: blur(10px);
            display: flex;
            align-items: center;
            gap: .5ch;
        }

        .total-time {
            justify-self: flex-start;
            align-self: flex-start;
        }

        a { 
            justify-self: flex-end;
            align-self: flex-end;
            padding: .75em !important;
            border-radius: 1000px !important;
        }
    }

    .content {
        padding: 1rem;

        h3 {
            margin: 0;
        }

        p {
            margin: 0;
            color: #808080;
        }
    }
</style>