---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { Icon } from "astro-icon/components";
import IngredientGrid from './IngredientGrid.astro';

type Recipe = CollectionEntry<'recipes'>;

interface Props {
  recipe: Recipe;
}

const { recipe } = Astro.props;
const { Content } = await recipe.render();
---

<section class="header">
    <Image src={recipe.data.image} alt={recipe.data.title} width={600} transition:name="recipe-image"/>
    <h1>
        <span>{recipe.data.title}</span>
        <span class="small">{recipe.data.subtitle}</span>
    </h1>
</section>
<section class="ingredients">
    <IngredientGrid recipe={recipe} direction="horizontal"/>
</section>
<section class="instructions">
    <Content/>
</section>

<style lang="scss">
    .header {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: flex-end;

        h1 {
            font-size: 3rem;
            line-height: 1.4;
            text-align: left;
            margin: 0;
            margin: 0 0 1rem -200px;
            z-index: 1;
            
            span {
                display: block;
                background: rgba(var(--page-background), .6);
                backdrop-filter: blur(10px);
                padding: 0 2rem;
                margin-top: 2px;
                border-radius: 4px;

                &.small {
                    color: rgba(var(--text-base), .6);
                }
            }
        }

        img {
            height: auto;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

    .instructions {
        :global(h3) {
            font-size: 1.05rem;
            font-weight: bold;
            margin: 1.25rem 0 .75rem 0;
        }

        :global(ol) {
            list-style: none;
            padding-left: 0;
            margin: 0;
        }
    }

    section {
        margin-bottom: 4rem;
    }
</style>